pkgbase = aurutils
	pkgdesc = Helper tools for the arch user repository
	pkgver = 8.2
	pkgrel = 1
	url = https://github.com/AladW/aurutils
	install = aurutils.install
	changelog = aurutils.changelog
	arch = any
	license = custom:ISC
	depends = curl
	depends = expect
	depends = git
	depends = jq
	depends = pacutils
	optdepends = bash-completion: bash completion
	optdepends = devtools: aur-chroot
	optdepends = vifm: default pager
	optdepends = zsh: zsh completion
	source = aurutils-8.2.tar.gz::https://github.com/AladW/aurutils/archive/refs/tags/8.2.tar.gz
	sha512sums = ed31372cd615b2a0b4e3a60525d44b8e78faef3545283107dcdd490dbcacd8da0028beffe6a94c173ca94729138c50b1197d43727224e84f8d5717c7dfceb873

pkgname = aurutils
