pkgbase = aurutils
	pkgdesc = Helper tools for the arch user repository
	pkgver = 9.6
	pkgrel = 1
	url = https://github.com/AladW/aurutils
	install = aurutils.install
	changelog = aurutils.changelog
	arch = any
	license = custom:ISC
	depends = curl
	depends = expect
	depends = gawk
	depends = git
	depends = jq
	depends = pacutils
	optdepends = bash-completion: bash completion
	optdepends = devtools: aur-chroot
	optdepends = vifm: default pager
	optdepends = zsh: zsh completion
	optdepends = ninja: aur-sync ninja support
	source = aurutils-9.6.tar.gz::https://github.com/AladW/aurutils/archive/refs/tags/9.6.tar.gz
	sha512sums = ab390f02e5b85ffeb6ddbb81eb145aff6cee26764b291970383c6faafad2909047fc1dcf8cc89fdee207c30bb0648422833d0f1211035a25218f8fcce1fe079b

pkgname = aurutils
